*.log
*.csproj
*.cache
Project_Exposure/.vs/
Project_Exposure/Temp/
Project_Exposure/obj/
Project_Exposure/Assets/Allegorithmic/Plugins/Substance/Substance Source/Editor/.SourceCache/
Project_Exposure/Assets/Plugins/FMOD/Resources/FMODStudioCache.asset
Project_Exposure/Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
Project_Exposure/Library/APIUpdater/
Project_Exposure/Library/metadata/
Project_Exposure/Library/PlayerDataCache/
Project_Exposure/Library/ScriptAssemblies/
Project_Exposure/Library/ShaderCache/
Project_Exposure/Library/StateCache/
Project_Exposure/Library/UIElements/
Project_Exposure/Library/AnnotationManager
Project_Exposure/Library/assetDatabase3
Project_Exposure/Library/AssetImportState
Project_Exposure/Library/BuildPlayer.prefs
Project_Exposure/Library/BuildSettings.asset
Project_Exposure/Library/CurrentLayout.dwlt
Project_Exposure/Library/CurrentMaximizeLayout.dwlt
Project_Exposure/Library/EditorUserBuildSettings.asset
Project_Exposure/Library/EditorUserSettings.asset
Project_Exposure/Library/expandedItems
Project_Exposure/Library/InspectorExpandedItems.asset
Project_Exposure/Library/LastBuild.buildreport
Project_Exposure/Library/LastSceneManagerSetup.txt
Project_Exposure/Library/LibraryFormatVersion.txt
Project_Exposure/Library/MonoManager.asset
Project_Exposure/Library/ProjectSettings.asset
Project_Exposure/Library/SceneVisibilityState.asset
Project_Exposure/Library/ScriptMapper
Project_Exposure/Library/ShaderCache.db
Project_Exposure/Library/SpriteAtlasDatabase.asset
Project_Exposure/Library/TilemapEditorUserSettings.asset
Project_Exposure/Library/PackageCache/com.unity.ads@2.0.8/
Project_Exposure/Library/PackageCache/com.unity.analytics@3.3.2/
Project_Exposure/Library/PackageCache/com.unity.collab-proxy@1.2.16/
Project_Exposure/Library/PackageCache/com.unity.purchasing@2.0.6/
Project_Exposure/Library/PackageCache/com.unity.textmeshpro@2.0.0/
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/Documentation~/
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/Tests/
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/CHANGELOG.md
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/CHANGELOG.md.meta
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/CONTRIBUTIONS.md
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/CONTRIBUTIONS.md.meta
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/LICENSE.md
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/LICENSE.md.meta
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/package.json
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/package.json.meta
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/PostProcessing.meta
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/README.md
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/README.md.meta
Project_Exposure/Library/PackageCache/com.unity.postprocessing@2.1.7/Tests.meta
Project_Exposure/Library/Timeline/
Project_Exposure/Library/EditorInstance.json
Project_Exposure/Assembly-CSharp.csproj.user
Project_Exposure/UserData/
Project_Exposure/Library/CrashedAssetImports.txt
